[submodule "CppCoreGuidelines"]
	path = CppCoreGuidelines/docs
	url = git@github.com:isocpp/CppCoreGuidelines.git
	branch = master
[submodule "PowerShell"]
	path = PowerShell/docs
	url = git@github.com:MicrosoftDocs/PowerShell-Docs.git
	branch = live
[submodule "styleguide"]
	path = styleguide/docs
	url = git@github.com:google/styleguide.git
	branch = gh-pages
